body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f3f3f3;
    color: #333;
    font-family: Arial, sans-serif;
}

.error-container {
    text-align: center;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.error-container1 {
    max-width: 50%;
}
h1 {
    color: #d9534f;
}

a {
    text-decoration: none;
    color: #31708f;
    font-weight: bold;
    margin-top: auto;
}

a:hover {
    text-decoration: underline; color:#d9534f;
}

/* Estilo para la imagen */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15%;
}
